@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  margin-left: 10vw;
  margin-right: 10vw;
  height: 100vh;
  border-left: rgba(240, 255, 255, 0.36) solid 2px;
  border-right: rgba(240, 255, 255, 0.49) solid 2px;
  background-color: #282c34;
  color: white;
  display: flex;
}

.Sidebar {
  padding: 7px;
  min-width: 15vw;
  display: flex;
  justify-content:space-between;
  flex-direction:column;
  border-right: rgba(240, 255, 255, 0.2) solid 1px;
}

.Content {
  margin: 7px;
  width: 100%;
}

.marginBottom {
  margin-bottom: 5px;
}

.SpacedText {
  display: flex;
  justify-content: space-between;
}


table{
  border-collapse:collapse;
  border: rgba(250, 235, 215, 0.2) solid 1px;
}

table th,td{
  border: rgba(250, 235, 215, 0.24) solid 1px;
  padding: 7px;
}

.ProcessTable {
  width: 95%;
  margin: 7px;
}